package templates

type Post struct {
    ID    int
    Title string
}

templ Home(posts []Post) {
    @Layout("Blog") {
        <h1 class="mb-4">Posts</h1>

        <div class="list-group">
            for _, p := range posts {
                <a
                    href={"/post/" + fmt.Sprint(p.ID)}
                    class="list-group-item list-group-item-action"
                    hx-get={"/post/" + fmt.Sprint(p.ID)}
                    hx-target="#content"
                    hx-push-url="true">
                    { p.Title }
                </a>
            }
        </div>

        <hr/>

        <div id="content">
            <p>Select a post.</p>
        </div>
    }
}
